<h4>Editing Book</h4>

<%= form_with model:@book, url: "/books/#{@book.id}", local:true do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>Body</p>
<%= f.text_area :body %>
<%= f.submit 'Upadete book' %>
<% end %>
<%= link_to 'Show', books_id_path(@book.id) %>
<%= link_to 'Back', books_index %>
